@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-red-500 {
    background-color: #f56565;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .m-4 {
    margin: 1rem;
  }
  
